
<h1>HDHomeRun Live</h1>
<div>This is an attempt to squeeze a little more life out of the legacy
HDHomeRun devices that do not have integrated support for modern systems
(such as Kodi).</div>

<!-- show the device list here -->
<h2>Devices</h2>
<div>The following devices were found at last scan:</div>

<!-- This UI sucks.... think about a modal to initiate scannign. -->
<div>
  <li *ngFor="let device of devices">
    {{ device }} {{ percent }}
    <button (click)="scanChannels(device)">Scan Channels</button>
  </li>
</div>

<div><button (click)="scanDevices()">Scan Devices</button></div>

<!-- show the channel list here -->
<h2>Channels</h2>
<div>Chanel information goes here</div>
