<!--<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>-->

<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<h1>HDHomeRun Live</h1>
<p class="lead">This is an attempt to squeeze a little more life out of the legacy
HDHomeRun devices that do not have integrated support for modern systems
(such as Kodi).</p>

<p>To get started, scan for devices, and then for each device you find, scan
for channels.</p>

<!-- show the device list here -->
<h2>Devices</h2>
<div>The following devices were found at last scan:</div>

<div *ngIf="devices.length == 0">
  <ngb-alert>
    No devices found.
  </ngb-alert>
</div>

<div *ngFor="let device of devices">
  <button type="button" class="btn btn-outline-primary"
          (click)="showDevice(device, content)">{{ device }}</button>
</div>

<hr/>
<div>
  <button type="button" class="btn btn-outline-primary"
          (click)="scanDevices()">Scan Devices</button>
</div>

<div>Scan Percentage:  {{ percent }}</div>

<template id="deviceModal" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Device ID: <em>{{ device }}</em></h4>
  </div>
  <div class="modal-body">
    <table>
      <tr *ngFor="let channel of channels">
        <td width="99%">{{ channel.name }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-lg"
                  aria-label="Left Align" (click)="editChannel(device, channel)">
            <img src="images/glyphicons-31-pencil.png"/> Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-lg"
                  aria-label="Left Align" (click)="deleteChannel(device, channel)">
            <img src="images/glyphicons-17-bin.png"/> Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"
            (click)="scanChannels(scan)">Scan</button>
    <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">Close</button>
  </div>
</template>

<template id="scanModal" #scan let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Scanning device <em>{{ device }}</em></h4>
  </div>
  <div class="modal-body">
    <ngb-progressbar type="info" [value]="percent"></ngb-progressbar>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"
            (click)="c('Close click')">Close</button>
  </div>
</template>

<template ngbModalContainer></template>
<!--<ngbd-progressbar-basic></ngbd-progressbar-basic>-->
